body {
    background-color: #e6c890;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

.dark-mode {  
    background-color: #222;  
    color: white;  
}
